<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Jewelry Shop</title>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap" rel="stylesheet">
    <style>
         body {
            background-color: white;
            margin: 0;
            padding: 0;
            font-family: 'Kalam', cursive;
            text-align: center;
        }

        ul {
            list-style: none;
        }
        .nav-bar {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: wheat;
            position: sticky;
            top: 0;
        }

        .nav-bar li {
            display: inline;
            float: left;
            font-size: 20px;
        }

        .nav-bar li a {
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .nav-bar li a:hover {
            background-color: linen;
        }
    </style>

</head>

<body>
<nav>
    <ul class="nav-bar">
        <li><a href="/">Home</a></li>
        <li><a href="/golds">Shop Gold Jewelry</a></li>
        <li><a href="/gemstones">Shop Gemstone Jewelry</a></li>
        <li><a href="/forms">Contact Us</a></li>
        <li style="float:right"><a class="active" href="">LOGIN</a></li>
        <li style="float:right"><a class="active" href="">SIGN UP</a></li>
    </ul>
</nav>

    <header>
        <h1><%= gemstone.name %></h1>
    </header>
    <main>
        <section>
            <h2>Gemstone Attributes:</h2>
            <img src="<%= gemstone.img %>">
            <ul>
                <li>Name: <%= gemstone.name %></li>
                <li>Description: <%= gemstone.description %></li>
                <li>Price: <%= gemstone.price %></li>
            </ul>

            <form action="/gemstones/<%= gemstone._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Gemstone" />
            </form>

            <a href="/gemstones/<%= gemstone._id %>/edit">Edit Gem</a>
        </section>
    </main>
</body>

</html>